<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
<!DOCTYPE html>
 <head>
 <meta charset="UTF-8">
 <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
 </head>
 <h1>Firebase Test</h1>
 <p>Firebase console에 데이터가 추가 되었는지 확인하세요</p>


<script>
  // Your web app's Firebase configuration
   var firebaseConfig = {
     apiKey: "AIzaSyCjhGDDIg7bUy5SGjp4tytNwH8y71TyEYk",
     authDomain: "gaehyunee-toy.firebaseapp.com",
     databaseURL: "https://gaehyunee-toy.firebaseio.com",
     projectId: "gaehyunee-toy",
     storageBucket: "",
     messagingSenderId: "665024156368"
   };
   // Initialize Firebase
   firebase.initializeApp(firebaseConfig);
  var newPostKey = firebase.database().ref().child('posts').push().key;
  var postData = {
    brdno: newPostKey,
    brdwriter: "홍길동",
    brdtitle: "게시판 제목",
    brdmemo: "게시물 내용",
    brddate: Date.now()
  };

  var updates = {};
  updates['/board/' + newPostKey] = postData;

  firebase.database().ref().update(updates);

</script>
